@import url('https://fonts.google.com/specimen/Red+Hat+Display');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Red Hat Display', sans-serif;
}

h1,h2,h3,h4,h5,h6, p {
  margin: 0;
}

p{
  color: hsl(224, 23%, 55%);
  font-size: 16px;
}

h2{
  margin-bottom: 10px;
  font-weight: 900;
  color:hsl(223, 47%, 23%);
}

h3 {
margin-top: 10px;
color: hsl(223, 47%, 23%);
font-size: 14px;
font-weight: 900;
}

.main-container {
  width: 100%;
  min-height:100vh;
  background-image: url(background-img.svg);
  background-color:  hsl(225, 100%, 94%);
  background-repeat: no-repeat;
  background-size: 100%;
  display:flex;
  justify-content: center;
  align-items:center;
}

.container {
  background-color: #fff;
  width: 25%;
  height: 79%;
  border-radius: 15px;
  overflow: hidden;
  }


.top-img {
  width:100%;
}

.order-page {
  text-align: center;
  padding: 20px;
  margin: 10px;
}

.annual-page {
  background: hsl(225, 100%, 98%);
  height: 75px;
  margin: 0 25px 15px 25px;
  display: flex;
  border-radius: 7px;
}

.music-img {
  margin: 15px;
  float: left;
}

.span{
  margin-top: 30px;
  margin-left: 70px;
  color: hsl(245, 75%, 52%);
  font-weight: 600;
}

.btn{
    clear:both;
    margin: 0 auto;
    text-align: center;
}
.button {
  background:hsl(245, 75%, 52%);
  color: #fff;
  border: 1px solid #eee;
  width: 70%;
  margin: 3px auto;
  height: 50px;
  font-weight: 900;
  border-radius: 12px;
  box-shadow: 5px 10px  hsl(225, 100%, 94%);
}

h4 {
  margin-top: 25px;
  text-align: center;
  color: hsl(223, 47%, 23%);
  font-weight: 900;
  margin-bottom: 25px;
}
