@import url('https://fonts.google.com/specimen/Red+Hat+Display');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Red Hat Display', sans-serif;
}

h1,h2,h3,h4,h5,h6, p {
  margin: 0;
}


.order-page h2{
  margin-bottom: 10px;
  font-weight: 900;
  color:hsl(223, 47%, 23%);
}

.order-page p{
  color: hsl(224, 23%, 55%);
  font-size: 16px;
  line-height: 23px;
}


.main-container {
  width: 100%;
  min-height:100vh;
  background-color:  hsl(225, 100%, 94%);
  background-image: url(background-img.svg);
  background-repeat: no-repeat;
  background-size: 100%; /* this is for image size not background*/
  display:flex;
  justify-content: center;
  align-items:center;
}

.container {
  background-color: #fff;
  width: 25%;
  height: 79%;
  border-radius: 15px;
  overflow: hidden;
  }


.top-img {
  width:100%;
}

.order-page {
  text-align: center;
  padding: 20px;
  margin: 10px;
}

.annual-page {
  background: hsl(225, 100%, 98%);
  height: 80px;
  margin: 0 25px 15px 25px;
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  border-radius: 7px;
}

.music-annual-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.music-img{
  margin-right: 20px;
  margin-left: 10px;
}

.annual-page .plan h3 {
color: hsl(223, 47%, 23%);
font-size: 14px;
font-weight: 900;
}

.span{
  color: hsl(245, 75%, 52%);
  font-weight: 600;
  text-decoration: underline;
}

.btn{
    clear:both;
    margin: 0 auto;
    text-align: center;
}
.button {
  background:hsl(245, 75%, 52%);
  color: #fff;
  border: 1px solid #eee;
  width: 70%;
  margin: 3px auto;
  height: 50px;
  font-weight: 900;
  border-radius: 12px;
  box-shadow: 5px 10px  hsl(225, 100%, 94%);
}

h4 {
  margin-top: 25px;
  text-align: center;
  color: hsl(223, 47%, 23%);
  font-weight: 900;
  margin-bottom: 25px;
  letter-spacing: 1px;
}


@media screen and (max-width: 1024px) {

  .main-container {
    height: unset;
    padding: 40px 0;
    background-image: url(background-img.svg);
    background-repeat: no-repeat;
    background-size: 100% 50%;
  }

  h4 {
    color: hsl(224, 23%, 55%);
    letter-spacing: 1px;
  }


  .container{
    width: 40%;
  }
}

@media screen and (max-width: 768px) {

  .container {
    width: 50%;
    }

}


@media screen and (max-width: 426px) {

  .main-container {
    background-repeat: no-repeat;
    background-size: 100% 40%;
    height: unset;
    padding: 40px 0;
  }


  .container {
    height: unset;
      width: 350px;
    }

.order-page {
    padding: 25px;
    margin: 15px;
    line-height: 25px;
}


.annual-page {
  width: 90%;
}

}

@media screen and (max-width: 377px) {
  .main-container {
    width: 100%;
    padding: 0;
    height: unset;
    background-color:  hsl(225, 100%, 94%);
  }

  .container {
    width: 350px;
    height: unset;
    margin: 15px;
  }
}
